//- BEGIN PRE-FOOTER
//- div.page-prefooter
//- 	div.container
//- 		div.row
//- 			div.col-md-3.col-sm-6.col-xs-12.footer-block
//- 				h2 About
//- 				p Test
//- 			div.col-md-3.col-sm-6.col-xs-12.footer-block
//- 				h2 Contacts
//- 				p 电话: 400-000-000
//- 				p 邮箱: test@email.com
//- END PRE-FOOTER
//- BEGIN FOOTER
div.page-footer
	div.container 2015 &copy; All Rights Reserved.
div.scroll-to-top
	i.icon-arrow-up
//- END FOOTER