div.panel.panel-default.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
	div.panel-body
		form.form-horizontal.passwordForm
			fieldset
				legend 修改密码
				div.form-group
					label.col-lg-2.control-label 用户名
					div.col-lg-10
						input.form-control#inputUsername(type='text', value='#{session.user.username}', disabled)
				div.form-group
					label.col-lg-2.control-label(for='inputPassword') 旧密码
					div.col-lg-10
						input.form-control#inputPassword(type='password', placeholder='请填写旧密码')
				div.form-group
					label.col-lg-2.control-label(for='inputNewPassword') 新密码
					div.col-lg-10
						input.form-control#inputNewPassword(type='password', placeholder='请填写新密码')
				div.form-group
					label.col-lg-2.control-label(for='inputConfirmPassword') 确认新密码
					div.col-lg-10
						input.form-control#inputConfirmPassword(type='password', placeholder='请确认新密码')
				div.text-right
					button.btn.blue#updateBtn(type='button') 修改