{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": [
            2, {
                "allow": ["log", "warn", "error"]
            }
        ]
    },
    "globals": {
        "console": true
    },
    "env": {
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}
