extends ../layouts/default

block content
	div.panel.panel-default.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
		div.panel-body
			form.form-horizontal.signupForm
				fieldset
					legend 用户注册
					div.form-group
						label.col-lg-3.control-label(for='inputUsername') 用户角色
						div.col-lg-9
							select.form-control#selectRoleType
								option(value='factory') 厂家
								option(value='agency') 经销商
					div.form-group
						label.col-lg-3.control-label(for='inputUsername') 用户名
						div.col-lg-9
							input.form-control#inputUsername(type='text', placeholder='请填写用户名')
					div.form-group
						label.col-lg-3.control-label(for='inputPassword') 密码
						div.col-lg-9
							input.form-control#inputPassword(type='password', placeholder='请填写密码')
					div.form-group
						label.col-lg-3.control-label(for='inputConfirmPassword') 确认密码
						div.col-lg-9
							input.form-control#inputConfirmPassword(type='password', placeholder='请再次输入密码')
					div.form-group.factoryFormGroup
						label.col-lg-3.control-label(for='inputFactoryName') 厂家名称
						div.col-lg-9
							input.form-control#inputFactoryName(type='text', placeholder='请填写厂家名称')
					div.form-group.hide.agencyFormGroup
						label.col-lg-3.control-label(for='inputAgencyName') 经销商名称
						div.col-lg-9
							input.form-control#inputAgencyName(type='text', placeholder='请填写经销商名称')
					div.text-right
						button.btn.blue#signupBtn(type='button') 提交注册
					div.signupMsg.text-danger.text-right
block extraScripts
	script(type='text/javascript', src='/static/javascripts/users/signup.js?v=1')