extends ../../layouts/admin
include ../../mixins/form

block content
	div.row
		div.col-md-12
			div.portlet.light.usersPortlet
				div.portlet-title
					div.caption
						i.fa.fa-user
						span.caption-subject.bold 用户列表
				div.portlet-body
					div.row
						div.col-md-6
							span 总数:
							span#totalCount
						div.text-right.col-md-6.form-inline(style='margin-bottom: 10px;')
							select.form-control#queryField
								option(value='username') 用户名
								option(value='rolename') 角色信息
							input.form-control#queryFieldVal(type='text', placeholder='搜索')
							button.form-control.btn#search(type='button') 搜索
							button.form-control.btn#reset(type='button') 重置
					div.table-responsive
						table.table.table-bordered.table-hover
							thead
								tr
									th 用户名
									th 角色
									th 角色信息
									th(style='width:80px;') 注册渠道
									th(style='width:150px') 注册时间
									th(style='width:80px;') 系统消息
									th(style='width:60px;')
							tbody#userTbody
					div.paginate
					div.row

block extraScripts
	script(type='text/javascript').
		var sysMsgGroup = !{JSON.stringify(sysMsgGroup)};
		var rolesMap = !{JSON.stringify(rolesMap)};
		var providerMap = !{JSON.stringify(providerMap)};
	script(type='text/javascript', src='/static/javascripts/admin/users/list.js')
	script(type='text/template', id='unbindUserTpl')
		div.text-center!='您确定要解绑用户 <%=username%> 吗?'
	script(type='text/template', id='sysMsgFormTpl')
		form.form-horizontal.form-row-seperated.sysMsgDialogForm
			+staticContentFormGroup('username', '用户名','<%=username%>')
			+inputFormGroup('title', '标题')
			+textareaLastFormGroup('message', '消息内容')