extends layouts/default

block content
	//- div.row
	//- 	div.col-lg-4.col-md-4.col-sm-6.col-xs-12
	//- 		a.dashboard-stat.dashboard-stat-light.red-intense(href='/brands/new')
	//- 			div.visual
	//- 				i.fa.fa-send.fa-icon-medium
	//- 			div.details
	//- 				div.number 新品发布
	//- 				div.desc
	//- 	div.col-lg-4.col-md-4.col-sm-6.col-xs-12
	//- 		a.dashboard-stat.dashboard-stat-light.blue-madison(href='/factories')
	//- 			div.visual
	//- 				i.fa.fa-briefcase.fa-icon-medium
	//- 			div.details
	//- 				div.number 找厂家
	//- 				div.desc
	//- 	div.col-lg-4.col-md-4.col-sm-6.col-xs-12
	//- 		a.dashboard-stat.dashboard-stat-light.green-haze(href='/agencies')
	//- 			div.visual
	//- 				i.fa.fa-group.fa-icon-medium
	//- 			div.details
	//- 				div.number 找经销商
	//- 				div.desc
block extraScripts
	//- script(type='text/javascript', src='/static/javascripts/index.js')